<!-- <div class="container" *ngIf="!isValidQuery">
    <h3>Query is not applicable</h3>
    <a [routerLink]="['/']" class="btn btn-secondary" (click)="reload">Back</a>
</div> -->

<!-- <div class="container" *ngIf="isValidQuery"> -->
<!-- <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"> -->
<!-- <div class="d-flex flex-row mt-2"> -->
<!-- <div class="row mt-3" > -->


<!-- <div class="container"> -->
<!-- <div class="row"> -->
<!-- <div class="d-flex flex-row"> -->
<h2 class="d-flex justify-content-center mt-3" *ngIf="newUsdaData$">{{selectedShortDesc}}</h2>
<h2 class="d-flex justify-content-center mt-3" *ngIf="!newUsdaData$">USDA Data</h2>

<div class="content-header justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 ">
  <!-- <div class="row pt-3 mx-auto" >
    <h1 class="h2 " *ngIf="newUsdaData$">{{selectedShortDesc}}</h1>
    <h2 class="h2 mb-2 pb-2 " *ngIf="!newUsdaData$">Usda</h2>

  </div> -->
  <div class="row">
  
    <!-- <div class="col-md-4 mt-4"> -->
    <!-- <h1 *ngIf="!newUsdaData$">List of Usda Data</h1> -->
    <!-- <h1 *ngIf="newUsdaData$">{{selectedShortDesc}}</h1> -->
    <!-- <img *ngIf="newUsdaData$" src="../../../assets/images/zaner-ag-hedge-white-logo.svg" alt="Zaner Ag Hedge" height="100" style="background-color: rgba(13,110,253,1.0);" class="p-2"> -->
    <!-- </div> -->
    <!-- <div class="col-md-8 d-flex flex-row"> -->
    <form class="row gy-0 gx-3 align-items-center">
      <div class="row g-1 mx-2">

        <select class="col-sm form-select me-1 custom-form-select" (change)="onSelectCommodity($event)">
          <option selected disabled>Commodity</option>
          <option value="CORN">Corn</option>
          <option value="SOYBEANS">Soybeans</option>
          <option value="WHEAT">Wheat</option>
          <option value="CATTLE">Cattle</option>
          <option value="HOGS">Hogs</option>
          <option value="SORGHUM">Sorghum</option>
          <option value="BARLEY">Barley</option>
          <option value="OATS">Oats</option>
          <option value="COTTON">Cotton</option>
          <option value="RICE">Rice</option>
          <option value="CANOLA">Canola</option>
          <option value="COFFEE">Coffee</option>

        </select>
        <select class="col-sm form-select me-1 custom-form-select" (change)="onSelectMetric($event)">
          <option selected disabled>Metric</option>
          <option *ngIf="selectedCommodity != 'CATTLE' && selectedCommodity !== 'HOGS'" value="AREA PLANTED">Acres Planted</option>
          <option *ngIf="selectedCommodity != 'CATTLE' && selectedCommodity !== 'HOGS'" value="AREA HARVESTED">Acres Harvested</option>
          <option *ngIf="selectedCommodity != 'CATTLE' 
            && selectedCommodity !== 'HOGS'
            && selectedCommodity !== 'WHEAT'" value="CONDITION">Condition (excellent)</option>
          <option *ngIf="selectedCommodity == 'CORN' " value="ETHANOL USAGE">Ethanol Usage</option>
          <option  value="PRODUCTION">Production</option>
          <option *ngIf="selectedCommodity != 'CATTLE' 
            && selectedCommodity !== 'COTTON'
            && selectedCommodity !== 'HOGS'
            && selectedCommodity !== 'WHEAT'"
            value="PROGRESS">Progress - Emerged</option>
          <option *ngIf="selectedCommodity == 'CORN'" value="RESIDUAL USAGE">Residual Usage</option>
          <option  value="STOCKS">Stocks</option>
        </select>
        <ng-multiselect-dropdown class="col-sm me-1 multi-dropdown"
          [placeholder]="'Year'"
          [settings]="dropdownSettings"
          [data]="dropdownList"
          (onSelect)="onItemSelect($event)"
          (onSelectAll)="onSelectAll($event)"
          (onDeSelect)="onDeselect($event)"
          (onDeSelectAll)="onDeselectAll($event)"
        >
        <!-- [(ngModel)]="selectedItems" -->
        <!-- (change) = "onSelectYear($event)" -->
        </ng-multiselect-dropdown>
        <!-- <select multiple class="col-sm form-select" (change)="onSelectYear($event)">
          <option selected>Years</option>
          <option value=2024>2024</option>
          <option value=2023>2023</option>
          <option value=2022>2022</option>
          <option value=2021>2021</option>
          <option value=2020>2020</option>
        </select> -->
        <select class="col-sm form-select me-1 custom-form-select" (change)="onSelectChart($event)">
          <option selected disabled>Chart Type</option>
          <option value="barchart">Bar</option>
          <option value="linechart">Line</option>
        </select>
        <div class="col-auto">
          <button class="btn btn-primary mx-1" *ngIf="(!isLoading) && (selectedItems.length == 0)"
            >Go</button>
          <button class="btn btn-primary mx-1" *ngIf="(!isLoading) && (selectedItems.length == 1)"
            (click)="loadDataWithParams(selectedMetric, selectedCommodity, selectedItems[0].item_text.toString(), selectedShortDesc)">Go</button>
          
          <button class="btn btn-primary mx-1" *ngIf="(!isLoading) && (selectedItems.length == 2)"
            (click)="loadDataWithParams(selectedMetric, selectedCommodity, selectedItems[0].item_text.toString()
              .concat(',')
              .concat(selectedItems[1].item_text.toString()), selectedShortDesc)">Go</button>
          
          <button class="btn btn-primary mx-1" *ngIf="(!isLoading) && (selectedItems.length == 3)"
            (click)="loadDataWithParams(selectedMetric, selectedCommodity, selectedItems[0].item_text.toString()
              .concat(',')
              .concat(selectedItems[1].item_text.toString()
              .concat(',')
              .concat(selectedItems[2].item_text.toString())), selectedShortDesc)">Go</button>
          
          <button class="btn btn-primary mx-1" *ngIf="(!isLoading) && (selectedItems.length == 4)"
            (click)="loadDataWithParams(selectedMetric, selectedCommodity, selectedItems[0].item_text.toString()
              .concat(',')
              .concat(selectedItems[1].item_text.toString())
              .concat(',')
              .concat(selectedItems[2].item_text.toString()
              .concat(',')
              .concat(selectedItems[3].item_text.toString())), selectedShortDesc)">Go</button>
          
          <button class="btn btn-primary mx-1" *ngIf="(!isLoading) && (selectedItems.length == 5)"
            (click)="loadDataWithParams(selectedMetric, selectedCommodity, selectedItems[0].item_text.toString()
              .concat(',')
              .concat(selectedItems[1].item_text.toString())
              .concat(',')
              .concat(selectedItems[2].item_text.toString()
              .concat(',')
              .concat(selectedItems[3].item_text.toString())
              .concat(',')
              .concat(selectedItems[4].item_text.toString())), selectedShortDesc)">Go</button>

          <button class="btn btn-primary" type="button" disabled *ngIf="isLoading">
            <span class="spinner-border spinner-border-sm me-1" role="status" aria-hidden="true"></span>
            Go...
          </button>
          <button class="btn btn-secondary" >
            <fa-icon [icon]="faPlus"></fa-icon>

          </button>
        </div>
      </div>
      <hr class="mt-4">
    </form>
  </div>
</div>

<div>
  <canvas *ngIf="newUsdaData$ && this.selectedChart== 'barchart' " id="barchart" class="watermark" style="background-color: rgba(240,240,240,0.5);"></canvas>
  <canvas *ngIf="newUsdaData$ && this.selectedChart== 'linechart' " id="linechart" class="watermark" style="background-color: rgba(240,240,240,0.5);"></canvas>

</div>
<ng-container *ngIf="isError">
  <p>There was an error</p>
  <button class="btn btn-secondary" (click)="reload()">Refresh</button>
</ng-container>

<ng-container *ngIf="newUsdaData$ | async as newUsdaData" >
  <h2 class="pt-5">Data</h2>
  <table class="table table-bordered ">
    <thead>
      <th>Time period</th>
      <th>Value</th>
      <th>Actions</th>
    </thead>
    <tbody>
      <tr *ngFor="let item of newUsdaData">
        <td>{{item.year}} {{item.reference_period_desc}}</td>
        <td>{{item.value}}</td>
        <td>
          <a class="btn btn-primary">Edit</a>
        </td>
      </tr>
    </tbody>
    <button class="btn btn-success mt-3">Export to Excel</button>
  </table>
</ng-container>





  <!-- <div class="btn-toolbar mb-2 mb-md-0">
    <form class="form-inline ">
      <select class="form-select mr-sm-2 my-1" aria-label="Default select example" (change)="onSelectCommodity($event)">
        <option selected>Commodity</option>
        <option value="CORN">Corn</option>
        <option value="SOYBEANS">Soybeans</option>
      </select>
      
      <select class="form-select mr-sm-2 my-1" aria-label="Default select example" (change)="onSelectMetric($event)">
        <option selected>Metric</option>
        <option value="AREA PLANTED">Acres Planted</option>
        <option value="AREA HARVESTED">Acres Harvested</option>
        <option value="CONDITION">Condition (excellent)</option>
        <option value="ETHANOL USAGE">Ethanol Usage</option>
        <option value="PRODUCTION">Production</option>
        <option value="PROGRESS">Progress - Emerged</option>
        <option value="RESIDUAL USAGE">Residual Usage</option>
        <option value="STOCKS">Stocks</option>
      </select>

      <select class="form-select mr-sm-2 my-1" aria-label="Default select example" (change)="onSelectYear($event)">
        <option selected>Years</option>
        <option value="2024">2024</option>
        <option value="2023">2023</option>
        <option value="2022">2022</option>
        <option value="2021">2021</option>
        <option value="2020">2020</option>
      </select>
  
      <button class="btn btn-primary mx-1 mt-1" *ngIf="!isLoading"
        (click)="loadDataWithParams(selectedMetric, selectedCommodity, selectedYear, selectedShortDesc)">Go</button>
      <button class="btn btn-primary" type="button" disabled *ngIf="isLoading">
        <span class="spinner-border spinner-border-sm me-1" role="status" aria-hidden="true"></span>
        Go...
      </button>
      <button class="btn btn-secondary mx-1 mt-1" (click)="reload()">Refresh</button>
    </form>
  </div> -->


<!-- <ng-container *ngIf="newUsdaData$">
  <div class="row">
    <div class="col-xl-12">
      <div class="card">
        <div class="card-body">
          <div *ngIf="isLoading" class="d-flex justify-content-center ">
            <h3>...loading</h3>
          </div>
          <ngb-progressbar *ngIf="isLoading"
                    [value]="75"
                    [striped]="true"
                    [animated]="true"
                  ></ngb-progressbar> 
          <img *ngIf="!isLoading" src="../../../assets/images/zaner-ag-hedge-white-logo.svg" alt="Zaner Ag Hedge"
            height="70" style="background-color: rgba(13,110,253,1.0);" class="p-2"> 
          <div dir="ltr">
            <div>
              <canvas id="barchart"></canvas>
            </div>
          </div>
        </div>
        end card body
      </div>
      end card 
    </div>
    end col
  </div>
  end row
</ng-container> -->