<h2 class="d-flex justify-content-center mt-4" *ngIf="!newUsdaData$">USDA Data</h2>
<h2 class="d-flex justify-content-center mt-4" *ngIf="newUsdaData$ && !secondUsdaData$">{{selectedShortDesc}}</h2>
<h2 class="d-flex justify-content-center mt-4" *ngIf="newUsdaData$ && secondUsdaData$">{{selectedShortDesc}} vs. {{secondSelectedShortDesc}}</h2>

<div class="content-header justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 ">
  <div class="row">
    <form class="row gy-0 gx-3 align-items-center">
      <div class="row g-1 mx-2">

        <select class="col-sm form-select me-1 custom-form-select" (change)="onSelectCommodity($event)">
          <option selected disabled>Commodity</option>
          <option value="CORN">Corn</option>
          <option value="SOYBEANS">Soybeans</option>
          <option value="WHEAT">Wheat</option>
          <option value="CATTLE">Cattle</option>
          <option value="HOGS">Hogs</option>
          <option value="SORGHUM">Sorghum</option>
          <option value="BARLEY">Barley</option>
          <option value="OATS">Oats</option>
          <option value="COTTON">Cotton</option>
          <option value="RICE">Rice</option>
          <option value="CANOLA">Canola</option>
          <option value="COFFEE">Coffee</option>

        </select>
        <select class="col-sm form-select me-1 custom-form-select" (change)="onSelectMetric($event)">
          <option selected disabled>Metric</option>
          <option *ngIf="selectedCommodity != 'CATTLE' && selectedCommodity !== 'HOGS'" value="AREA PLANTED">Acres Planted</option>
          <option *ngIf="selectedCommodity != 'CATTLE' && selectedCommodity !== 'HOGS'" value="AREA HARVESTED">Acres Harvested</option>
          <option *ngIf="selectedCommodity != 'CATTLE' 
            && selectedCommodity !== 'HOGS'
            && selectedCommodity !== 'WHEAT'
            && selectedCommodity !== 'COTTON'
            && selectedCommodity !== 'CANOLA'
            && selectedCommodity !== 'COFFEE'" 
            value="CONDITION">Condition (excellent)</option>
          <option *ngIf="selectedCommodity == 'CORN' " value="ETHANOL USAGE">Ethanol Usage</option>
          <option  value="PRODUCTION">Production</option>
          <option *ngIf="selectedCommodity != 'CATTLE' 
            && selectedCommodity !== 'COTTON'
            && selectedCommodity !== 'CANOLA'
            && selectedCommodity !== 'HOGS'
            && selectedCommodity !== 'WHEAT'
            && selectedCommodity !== 'COFFEE'"
            value="PROGRESS">Progress - Emerged</option>
          <option *ngIf="selectedCommodity == 'CORN'" value="RESIDUAL USAGE">Residual Usage</option>
          <option  value="STOCKS">Stocks</option>
        </select>
        <ng-multiselect-dropdown class="col-sm me-1 multi-dropdown"
          [placeholder]="'Year'"
          [settings]="dropdownSettings"
          [data]="dropdownList"
          (onSelect)="onItemSelect($event)"
          (onSelectAll)="onSelectAll($event)"
          (onDeSelect)="onDeselect($event)"
          (onDeSelectAll)="onDeselectAll($event)"
        >
        <!-- [(ngModel)]="selectedItems" -->
        <!-- (change) = "onSelectYear($event)" -->
        </ng-multiselect-dropdown>
        
        <select class="col-sm form-select me-1 custom-form-select" (change)="onSelectChart($event)">
          <option selected disabled>Chart Type</option>
          <option value="barchart">Bar</option>
          <option value="linechart">Line</option>
        </select>
        <div class="col-auto">
          <button class="btn btn-primary mx-1" *ngIf="!isLoading"
            (click)="loadDataWithParams(selectedMetric, selectedCommodity, selectedItems, selectedShortDesc)">Go</button>
          <button class="btn btn-primary" type="button" disabled *ngIf="isLoading">
            <span class="spinner-border spinner-border-sm me-1" role="status" aria-hidden="true"></span>
            Go...
          </button>
          <button class="btn btn-secondary" (click)="addSecondQueryMenu()">
            <fa-icon [icon]="faPlus" *ngIf="!hasSecondQuery"></fa-icon>
            <fa-icon [icon]="faMinus" *ngIf="hasSecondQuery"></fa-icon>
          </button>
        </div>
      </div>
      <hr class="mt-4">
      
      <!-- optional second row -->
      <div *ngIf="hasSecondQuery" class="row g-1 mx-2 second-query" id="second-query-container">
        <h5>Add a second query</h5>
        <select class="col-sm form-select me-1 custom-form-select" (change)="onSelectCommodity2($event)">
          <option selected disabled>Commodity</option>
          <option value="CORN">Corn</option>
          <option value="SOYBEANS">Soybeans</option>
          <option value="WHEAT">Wheat</option>
          <option value="CATTLE">Cattle</option>
          <option value="HOGS">Hogs</option>
          <option value="SORGHUM">Sorghum</option>
          <option value="BARLEY">Barley</option>
          <option value="OATS">Oats</option>
          <option value="COTTON">Cotton</option>
          <option value="RICE">Rice</option>
          <option value="CANOLA">Canola</option>
          <option value="COFFEE">Coffee</option>
        </select>
        <select class="col-sm form-select me-1 custom-form-select" (change)="onSelectMetric2($event)">
          <option selected disabled>Metric</option>
          <option *ngIf="secondSelectedCommodity != 'CATTLE' 
            && secondSelectedCommodity !== 'HOGS'
            && secondSelectedCommodity !== 'COFFEE'" value="AREA PLANTED">Acres Planted</option>
          <option *ngIf="secondSelectedCommodity != 'CATTLE' && secondSelectedCommodity !== 'HOGS'" value="AREA HARVESTED">Acres Harvested</option>
          <option *ngIf="secondSelectedCommodity != 'CATTLE' 
            && secondSelectedCommodity !== 'HOGS'
            && secondSelectedCommodity !== 'WHEAT'
            && secondSelectedCommodity !== 'COTTON'" 
            value="CONDITION">Condition (excellent)</option>
          <option *ngIf="secondSelectedCommodity == 'CORN' " value="ETHANOL USAGE">Ethanol Usage</option>
          <option  value="PRODUCTION">Production</option>
          <option *ngIf="secondSelectedCommodity != 'CATTLE' 
            && secondSelectedCommodity !== 'COTTON'
            && secondSelectedCommodity !== 'CANOLA'
            && secondSelectedCommodity !== 'HOGS'
            && secondSelectedCommodity !== 'WHEAT'"
            value="PROGRESS">Progress - Emerged</option>
          <option *ngIf="secondSelectedCommodity == 'CORN'" value="RESIDUAL USAGE">Residual Usage</option>
          <option  value="STOCKS">Stocks</option>
        </select>
        <ng-multiselect-dropdown class="col-sm me-1 multi-dropdown"
          [placeholder]="'Year'"
          [settings]="dropdownSettings"
          [data]="dropdownList2"
          (onSelect)="onItemSelect2($event)"
          (onSelectAll)="onSelectAll2($event)"
          (onDeSelect)="onDeselect2($event)"
          (onDeSelectAll)="onDeselectAll2($event)"
        >
        </ng-multiselect-dropdown>
        
        <select class="col-sm form-select me-1 custom-form-select" (change)="onSelectChart2($event)">
          <option selected disabled>Chart Type</option>
          <option value="barchart">Bar</option>
          <option value="linechart">Line</option>
        </select>

        <div class="col-auto ">
           <button class="btn btn-primary mx-1" *ngIf="!isLoading"
            (click)="loadDataWithParams2(secondSelectedMetric, secondSelectedCommodity, secondSelectedItems, secondSelectedShortDesc)">Go</button>
          <!--
          <button class="btn btn-primary mx-1" *ngIf="(!isLoading) && (secondSelectedItems.length == 2)"
            (click)="loadDataWithParams2(secondSelectedMetric, secondSelectedCommodity, secondSelectedItems[0].item_text.toString()
              .concat(',')
              .concat(secondSelectedItems[1].item_text.toString()), secondSelectedShortDesc)">Go</button>
          
          <button class="btn btn-primary mx-1" *ngIf="(!isLoading) && (secondSelectedItems.length == 3)"
            (click)="loadDataWithParams2(secondSelectedMetric, secondSelectedCommodity, secondSelectedItems[0].item_text.toString()
              .concat(',')
              .concat(secondSelectedItems[1].item_text.toString()
              .concat(',')
              .concat(secondSelectedItems[2].item_text.toString())), secondSelectedShortDesc)">Go</button>
          
          <button class="btn btn-primary mx-1" *ngIf="(!isLoading) && (secondSelectedItems.length == 4)"
            (click)="loadDataWithParams2(secondSelectedMetric, secondSelectedCommodity, secondSelectedItems[0].item_text.toString()
              .concat(',')
              .concat(secondSelectedItems[1].item_text.toString())
              .concat(',')
              .concat(secondSelectedItems[2].item_text.toString()
              .concat(',')
              .concat(secondSelectedItems[3].item_text.toString())), secondSelectedShortDesc)">Go</button>
          
          <button class="btn btn-primary mx-1" *ngIf="(!isLoading) && (secondSelectedItems.length == 5)"
            (click)="loadDataWithParams2(secondSelectedMetric, secondSelectedCommodity, 
            secondSelectedItems[0].item_text.toString()
              .concat(',')
              .concat(secondSelectedItems[1].item_text.toString())
              .concat(',')
              .concat(secondSelectedItems[2].item_text.toString()
              .concat(',')
              .concat(secondSelectedItems[3].item_text.toString())
              .concat(',')
              .concat(secondSelectedItems[4].item_text.toString())), secondSelectedShortDesc)">Go</button> -->

          <button class="btn btn-primary" type="button" disabled *ngIf="isLoading">
            <span class="spinner-border spinner-border-sm me-1" role="status" aria-hidden="true"></span>
            Go...
          </button>
          <button class="btn btn-secondary"  (click)="closeSecondQueryMenu()">
            <fa-icon [icon]="faXmark"></fa-icon>
          </button>

        </div>
        <hr class="mt-4">
      </div>

    </form>
  </div>
</div>

<ng-container *ngIf="newUsdaData$ != null && secondUsdaData$ != null">
  <div class="mb-3">
    <button class="btn btn-primary me-1">
      <fa-icon [icon]="faFloppyDisk"></fa-icon>
      Save</button>
    <button class="btn btn-secondary mx-1" (click)="reload()">      
      <fa-icon [icon]="faArrowsRotate"></fa-icon>
      Refresh</button>
  </div>
</ng-container>

<div mt-3>
  <canvas *ngIf="newUsdaData$ && this.selectedChart== 'barchart' && !isError" id="barchart" class="watermark" style="background-color: rgba(240,240,240,0.5);"></canvas>
  <canvas *ngIf="newUsdaData$ && this.selectedChart== 'linechart' && !isError" id="linechart" class="watermark" style="background-color: rgba(240,240,240,0.5);"></canvas>
</div>
<ng-container *ngIf="isError">
  <div class="col-md-12 text-center">
    <h1>{{errorCode}} {{errorNumber}}</h1>
    <h2 *ngIf="!smartChartData">Please start with a first query</h2>
    <h2>Page Not Found</h2>
    <p>
        The data for this query is not available
    </p>
    <button class="btn btn-secondary" (click)="reload()">Refresh</button>

  </div>
</ng-container>

<ng-container *ngIf="newUsdaData$ | async as newUsdaData" >
  <h2 class="pt-5">First Query's Data: {{selectedShortDesc}}</h2>
  <table class="table table-bordered ">
    <thead>
      <th>Time period</th>
      <th>Value</th>
      <th>Domain Category</th>
      <th>Utilization</th>
      <th>Production Practice</th>
      <th>Actions</th>
    </thead>
    <tbody>
      <tr *ngFor="let item of newUsdaData">
        <td>{{item.year}} {{item.reference_period_desc}}</td>
        <td>{{item.value}} {{item.unit_desc}}</td>
        <td>{{item.domaincat_desc}}</td>
        <td>{{item.util_practice_desc}}</td>
        <td>{{item.prodn_practice_desc}}</td>
        <td>
          <a class="btn btn-primary mx-1">Edit</a>
          <a class="btn btn-primary ms-1">Save</a>
        </td>
      </tr>
    </tbody>
    <button class="btn btn-success mt-3">Export to Excel</button>
  </table>
</ng-container>

<ng-container *ngIf="secondUsdaData$ | async as secondUsdaData" >
  <h2 class="pt-5">Second Query's Data: {{secondSelectedShortDesc}}</h2>
  <table class="table table-bordered ">
    <thead>
      <th>Time period</th>
      <th>Value</th>
      <th>Domain Category</th>
      <th>Utilization</th>
      <th>Production Practice</th>
      <th>Actions</th>
    </thead>
    <tbody>
      <tr *ngFor="let item of secondUsdaData">
        <td>{{item.year}} {{item.reference_period_desc}}</td>
        <td>{{item.value}} {{item.unit_desc}}</td>
        <td>{{item.domaincat_desc}}</td>
        <td>{{item.util_practice_desc}}</td>
        <td>{{item.prodn_practice_desc}}</td>
        <td>
          <a class="btn btn-primary mx-1">Edit</a>
          <a class="btn btn-primary ms-1">Save</a>
        </td>
      </tr>
    </tbody>
    <button class="btn btn-success mt-3">Export to Excel</button>
  </table>
</ng-container>



  <!-- <div class="btn-toolbar mb-2 mb-md-0">
    <form class="form-inline ">
      <select class="form-select mr-sm-2 my-1" aria-label="Default select example" (change)="onSelectCommodity($event)">
        <option selected>Commodity</option>
        <option value="CORN">Corn</option>
        <option value="SOYBEANS">Soybeans</option>
      </select>
      
      <select class="form-select mr-sm-2 my-1" aria-label="Default select example" (change)="onSelectMetric($event)">
        <option selected>Metric</option>
        <option value="AREA PLANTED">Acres Planted</option>
        <option value="AREA HARVESTED">Acres Harvested</option>
        <option value="CONDITION">Condition (excellent)</option>
        <option value="ETHANOL USAGE">Ethanol Usage</option>
        <option value="PRODUCTION">Production</option>
        <option value="PROGRESS">Progress - Emerged</option>
        <option value="RESIDUAL USAGE">Residual Usage</option>
        <option value="STOCKS">Stocks</option>
      </select>

      <select class="form-select mr-sm-2 my-1" aria-label="Default select example" (change)="onSelectYear($event)">
        <option selected>Years</option>
        <option value="2024">2024</option>
        <option value="2023">2023</option>
        <option value="2022">2022</option>
        <option value="2021">2021</option>
        <option value="2020">2020</option>
      </select>
  
      <button class="btn btn-primary mx-1 mt-1" *ngIf="!isLoading"
        (click)="loadDataWithParams(selectedMetric, selectedCommodity, selectedYear, selectedShortDesc)">Go</button>
      <button class="btn btn-primary" type="button" disabled *ngIf="isLoading">
        <span class="spinner-border spinner-border-sm me-1" role="status" aria-hidden="true"></span>
        Go...
      </button>
      <button class="btn btn-secondary mx-1 mt-1" (click)="reload()">Refresh</button>
    </form>
  </div> -->


<!-- <ng-container *ngIf="newUsdaData$">
  <div class="row">
    <div class="col-xl-12">
      <div class="card">
        <div class="card-body">
          <div *ngIf="isLoading" class="d-flex justify-content-center ">
            <h3>...loading</h3>
          </div>
          <ngb-progressbar *ngIf="isLoading"
                    [value]="75"
                    [striped]="true"
                    [animated]="true"
                  ></ngb-progressbar> 
          <img *ngIf="!isLoading" src="../../../assets/images/zaner-ag-hedge-white-logo.svg" alt="Zaner Ag Hedge"
            height="70" style="background-color: rgba(13,110,253,1.0);" class="p-2"> 
          <div dir="ltr">
            <div>
              <canvas id="barchart"></canvas>
            </div>
          </div>
        </div>
        end card body
      </div>
      end card 
    </div>
    end col
  </div>
  end row
</ng-container> -->