<div class="sidebar border border-right col-md-10 col-lg-10 p-0 bg-body-tertiary">
  <!-- <div class="offcanvas-md offcanvas-end bg-body-tertiary" tabindex="-1" id="sidebarMenu" -->
    <!-- aria-labelledby="sidebarMenuLabel"> -->
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="sidebarMenuLabel">Company name</h5>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" data-bs-target="#sidebarMenu"
        aria-label="Close"></button>
    </div>
    <div class="offcanvas-body d-md-flex flex-column p-0 pt-lg-3 overflow-y-auto">
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link d-flex align-items-center gap-2 active"  href="usda-data">
            <svg class="bi">
              <use xlink:href="#house-fill" />
            </svg>
            <span class="text-dark">USDA Data</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link d-flex align-items-center gap-2" href="usda-data-by-year">
            <svg class="bi">
              <use xlink:href="#file-earmark" />
            </svg>
            <span class="text-dark">USDA Data By Year</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link d-flex align-items-center gap-2" href="usa-map">
            <svg class="bi">
              <use xlink:href="#cart" />
            </svg>
            <span class="text-dark">USA Map</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link d-flex align-items-center gap-2" href="world-map">
            <svg class="bi">
              <use xlink:href="#people" />
            </svg>
            <span class="text-dark">World Map</span>
          </a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link d-flex align-items-center gap-2" href="#">
            <svg class="bi">
              <use xlink:href="#graph-up" />
            </svg>
            Reports
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link d-flex align-items-center gap-2" href="#">
            <svg class="bi">
              <use xlink:href="#puzzle" />
            </svg>
            Integrations
          </a>
        </li> -->
      </ul>

      <!-- <h6
        class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-body-secondary text-uppercase">
        <span>Saved reports</span>
        <a class="link-secondary" href="#" aria-label="Add a new report">
          <svg class="bi">
            <use xlink:href="#plus-circle" />
          </svg>
        </a>
      </h6>
      <ul class="nav flex-column mb-auto">
        <li class="nav-item">
          <a class="nav-link d-flex align-items-center gap-2" href="#">
            <svg class="bi">
              <use xlink:href="#file-earmark-text" />
            </svg>
            Current month
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link d-flex align-items-center gap-2" href="#">
            <svg class="bi">
              <use xlink:href="#file-earmark-text" />
            </svg>
            Last quarter
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link d-flex align-items-center gap-2" href="#">
            <svg class="bi">
              <use xlink:href="#file-earmark-text" />
            </svg>
            Social engagement
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link d-flex align-items-center gap-2" href="#">
            <svg class="bi">
              <use xlink:href="#file-earmark-text" />
            </svg>
            Year-end sale
          </a>
        </li>
      </ul> -->

      <hr class="my-3">

      <ul class="nav flex-column mb-auto">
        <li class="nav-item">
          <a class="nav-link d-flex align-items-center gap-2" href="#">
            <svg class="bi">
              <use xlink:href="#gear-wide-connected" />
            </svg>
            <span class="text-dark">Settings</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link d-flex align-items-center gap-2" href="#">
            <svg class="bi">
              <use xlink:href="#door-closed" />
            </svg>
            <span class="text-dark">Sign out</span>
          </a>
        </li>
      </ul>
    </div>
  </div>





<!-- 
<div class="container-fluid">
    <div class="row">
      <div class="sidebar border border-right col-md-3 col-lg-2 p-0 bg-body-tertiary">
        <div class="offcanvas-md offcanvas-end bg-body-tertiary" tabindex="-1" id="sidebarMenu" aria-labelledby="sidebarMenuLabel">
    <div class="offcanvas-header show">
      <h5 class="offcanvas-title " id="sidebarMenuLabel">Company name</h5>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" data-bs-target="#sidebarMenu" aria-label="Close"></button>
    </div>
    
    <div class="offcanvas-body d-md-flex flex-column p-0 pt-lg-3 overflow-y-auto">
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link d-flex align-items-center gap-2 active" aria-current="page" href="usda-data">
            <svg class="bi"><use xlink:href="#house-fill"/></svg>
            <fa-icon [icon]="faWheatAwn"></fa-icon>
            Usda Data
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link d-flex align-items-center gap-2" href="usda-data-by-year">
            <i class="fa-solid fa-wheat-awn"></i> -->
<!-- <svg class="bi"><use xlink:href="#file-earmark"/></svg> 
            <fa-icon [icon]="faChartLine"></fa-icon>

            Compare by Year
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link d-flex align-items-center gap-2" href="usa-map">
            <svg class="bi"><use xlink:href="#cart"/></svg>
            <fa-icon [icon]="faFlagUsa"></fa-icon>

            USA Map
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link d-flex align-items-center gap-2" href="world-map">
            <svg class="bi"><use xlink:href="#people"/></svg>
            <fa-icon [icon]="faGlobe"></fa-icon>

            World Map
          </a>
        </li>
      </ul>

      <hr class="my-3">

      <ul class="nav flex-column mb-auto">
        <li class="nav-item">
          <a class="nav-link d-flex align-items-center gap-2" href="#">
            <svg class="bi"><use xlink:href="#gear-wide-connected"/></svg>
            <fa-icon [icon]="faGear"></fa-icon>

            Settings
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link d-flex align-items-center gap-2" href="#">
            <svg class="bi"><use xlink:href="#door-closed"/></svg>
            <fa-icon [icon]="faUser"></fa-icon>
            Sign out
          </a>
        </li>
      </ul>
    </div>
  </div>
      </div>
    </div>
</div> -->